
<div id="profile" >
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <%= image_tag current_user.picture, class: "image-profile"%>
      </div>
      <div class="col-lg-9 col-md-12">
        <h2> Hello! my name is <%= current_user.first_name %></h2>
      <div class="row-space-top-2">
        <p>
          "From Paris. Working in the publishing industry. Like art, photography, books, travel, etc..."
        </p>
      </div>
  </div>
</div>


