#edit-user {
  position: absolute;
  background:  url("https://unsplash.it/1920/1080/?random") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  overflow-y: auto;
}

@media all and (min-width: 640px) {
  #edit-user > .container {
    margin-top: 150px;
  }
}

@media all and (max-width: 640px) {
  #edit-user > .container {
    margin-top: 55px;
  }
}


#edit-user > .container {
  background-color: rgba(221, 215, 203, 0.5);
  border-radius: 1%;
}

