#profile {
  position: absolute;
  background:  image-url("dont_just_stand_there.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  h1 {
  color: #565A5C
  }
}

