

<div class="intro-header" style="background-image: url(https://unsplash.it/1239/450?image=864">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Welcome Home </h1>
      </div>
    </div>
  </div>
</div>


<div class="hero__content-footer hide-sm">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Where do you want to go?">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Check-in">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Check-out">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Travellers">
    </div>
    <button type="submit" class="btn-primary btn">Search</button>
  </form>
</div>
