@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap_overload";
@import "pages";
@import "registrations";
@import "flat";
@import "booking";
@import "account/flat/new";
@import "password";
@import "flats";

.text-center {
  text-align: center
}

.img-circle {
  border-radius: 50%;
  width: 50px;
}

#space-navbar {
  width: 100%;
  height: 60px;
}

body {
  background-color: #f5f5f5;
}

body {
  background-color: #F5F5F5
}

.img-profile {
  width: 100px;
  height: 100px;
}


.btn-primary.btn {
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
}

#logo {
  width: 50px;
}
.img-avatar {
  width: 50px
}

.navbar-form {
  text-align: center
}

#logo {
  width: 50px;
}

.img-circle {
  border-radius: 50%;
  border: 2px solid white;
}



.hero__content-footer {
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  position: absolute;
  right: 0;
}
