#flat {
 img {
  max-width: 100%;
  max-height: 500px;
}
.card {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  p {
    font-size: 18px;
    margin-top:10px;
    margin-bottom:10px;
  }
}
}
