// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color: #f8f8f8;
  background: #000;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: auto;
  font-family: 'Open Sans', sans-serif;
  background: image-url("home_picture") no-repeat center center fixed;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 64px
  }
  .text-vertical-center{
    text-align: center;
    color: white;
    padding-top: 250px;
  }
  #logo {
    width: 50px;
    color: white
  }
  .img-circle {
    border-radius: 50%;
    border: 2px solid white;
  }
  .img-avatar {
    width: 50px
  }
}
